<!DOCTYPE html>
<html lang="nl">

<head>
    <title>ScolioMore</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Awsomefont font for login -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" -->
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='myscript.js') }}"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Scolio<span class="blue">M<span class="orange">o</span>re</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% block navbar_nav %}{% endblock %}
                <ul class="navbar-nav ml-auto">
                    {% if session['username'] %}
                    <li class="nav-item">
                        <a class="nav-link disabled text-light" href="#">{{ session['username'] }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light" href="/logout">Afmelden</a>
                    </li>
                    {% else %}
                    <!--<li class="nav-item mr-2">
                            <a class="btn btn-outline-light my-2 my-sm-0" href="/login">Inloggen</a>
                        </li>-->
                    <li class="nav-item">
                        <a class="btn btn-outline-success my-2 my-sm-0" href="/register">Registreren</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer class="text-center" style="margin-bottom:0">
        <p>&copy; Scolio<span class="blue">M<span class="orange">o</span>re</span> - 2019</p>
    </footer>
</body>

</html>
